.businesses__container {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #444;

  button {
    align-self: center;
  }
}

.businesses {
  padding: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .business {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    &__details {
      margin-bottom: 20px;

      > div {
        margin-bottom: 20px;
      }
    }

    &__services,
    &__location,
    &__contact--phone,
    &__contact--email,
    &__contact--website {
      display: flex;

      i {
        margin-right: 20px;
      }
    }

    &__contact--phone {
      font-family: monospace;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    &__contact--website {
      // letter-spacing: 1px;
      font-weight: 500;

      a {
        text-decoration: none;
      }
    }

    &__name {
      font-size: 2rem;
    }

    &__location {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      line-height: 1;
      font-size: 85%;
    }
    button {
      font-size: 75%;
      border-radius: 5px;
      background-color: #444;
      color: #fff;
    }
  }
}
