* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  font-family: "Poppins";
}

@import "./1.atoms/all";

@import "./2.components/all";

@import "./3.layouts/all";
